<template>
  <!-- Components must have exactly one root tag, it is therefore a good idea, to wrap everything inside a container -->

  <!-- mt is a simple styling class that provides a way to easily add margin or padding -->
  <!-- The name is comprised or either m (margin) or p (padding) followed by the direction, these include -->
  <!-- t (top), b (bottom), l (left), r (right), a (all sides), x (x-direction), y (y-direction) -->
  <!-- The number specifies the size from 1 thru 10 -->
  <v-container class="mt-10">
    <h1 class="mb-10">
      Welcome to {{ title }}
    </h1>
    <p v-if="todos.length === 0">
      You don't appear to have any tasks 🤔
    </p>
    <p v-else-if="todos.find(v => !v.done)">
      <!-- Insert dynamic values into your page by using double curly braces {{ }} -->
      You have completed {{ todos.reduce((acc, v) => acc + (v.done ? 1 : 0), 0) }} of {{ todos.length }}
      {{ todos.length !== 1 ? 'tasks' : 'task' }}.
    </p>
    <p v-else>
      You have completed all of your tasks. Great job 🎉
    </p>


    <h2 class="headline mt-8">
      What's left to do
    </h2>
    <v-text-field
      class="mt-8"
      append-icon="mdi-plus"
      label="Add new Item"
      v-model="newTodo"
      @click:append="addTodo"
      @keydown.enter="addTodo"
    />


    <!-- Insert all uncompleted items -->
    <!-- A card is usually a good component to just wrap something in for a kind of visual border -->
    <v-card
      v-for="todo in todos.filter(todo => !todo.done)"
      :key="todo.text"
      class="my-2"
      @click="todo.done =! todo.done"
    >
      <v-card-title>
        {{ todo.text }}
      </v-card-title>
    </v-card>

    <!-- Remember the parenthesis here due to destructuring: {done, ...rest} of value, index, array -->
    <!-- You do not need to use all of the parameters provided to the callback function of filter() -->
    <h2 class="mt-8" v-if="todos.filter(({done}) => done).length > 0">
      Completed tasks
    </h2>
    <v-card
      v-for="todo in completedTodos"
      :key="todo.text"
      class="my-2"
      @click="todo.done =! todo.done"
      color="green"
      append-icon="mdi-delete"
      :title="todo.text"
      @click:append.stop="todos = todos.filter(v => v.text !== todo.text)"
    >
      <v-card-actions>
        <v-btn icon="mdi-delete" @click.stop="deleteTodo(todo.text)"/>
      </v-card-actions>
    </v-card>

    <v-row align="center" justify="center" class="mt-10">

      <v-col cols="auto">
        <v-btn
          :disabled="!todos.length"
          color="red"
          @click="clearTodos"
          prepend-icon="mdi-delete"
        >
          Delete All
        </v-btn>
      </v-col>
      <v-col>
        <v-btn
          :disabled="!completedTodos.length"
          color="yellow"
          @click="deleteCompleted"
          prepend-icon="mdi-delete"
        >
          Delete completed todos
        </v-btn>
      </v-col>
    </v-row>

  </v-container>
</template>

<script setup lang="ts">
import {computed, onMounted, ref, watch} from "vue";

const todos = ref([
  {text: "Zähne putzen", done: false},
  {text: "Duschen", done: false},
])

const newTodo = ref()

function addTodo() {
  // When accessing refs inside the script tag, we need to use the "value" property
  // The is not necessary in the template section
  todos.value.push({text: newTodo.value, done: false})
  newTodo.value = ""
}

// A function can be called in the template just ĺike you would expect
function deleteTodo(text: string) {
  todos.value = todos.value.filter(todo => todo.text !== text)
}

function clearTodos() {
  todos.value = []
}

function deleteCompleted() {
  todos.value = todos.value.filter(({done}) => !done)
}

// Computed values work just like regular refs but return a value based on other refs and can logically not be set
const completedTodos = computed(() => todos.value.filter(({done}) => done))

// Props allow you to pass values from the parent
// (This looks a bit cumbersome due to the typing, honestly, I would just ignore the typing here in a simple project:)
// const { title } = defineProps({title: {default: () => 'your List'}})

export interface Props {
  title?: string
}

const {
  title
} = withDefaults(defineProps<Props>(), {
  title: 'your Todo List',
})

// ********************************
//        State management
// ********************************

// A watcher will trigger whenever the value of the watched value changes
// The "deep" option is necessary since we never change the actual value of "todos",
// but only the items *inside* todos.value
watch(todos, saveState, {deep: true})

function saveState() {
  localStorage.setItem('todos', JSON.stringify(todos.value))
}

// The onMounted hook is called when the site is loaded
// Database interactions should happen asynchronously (which also requires your app to be able to handle empty data)
onMounted(() => {
  if (localStorage.todos)
    todos.value = JSON.parse(localStorage.todos)
})
</script>
